/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Open Sans', sans-serif;
$mainFontColor           : #2F2F2F;
$mainFontSizeTitle            : 32px;
$mainFontSizeBanner            :48px;
$mainFontWeightTitle         : 800;
$mainFontSize            : 16px;
$mainFontWeight          : normal;
$articleFontColorTitle       :#333333;
$articleFontSizeTitle         :20px;
$dateFontSize                  :14px;
$dateFontColor                  :#8F8F8F;

// Size


$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
$container               : 1200px;
/*
 All colors taken from:
 https://github.com/vedees/uimini
*/

// Main color
$default-color           : #F2F5F9;
$btn-color               : #335ECF;   //color of the button and some text
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$white-m-color           :#ffffff;
$light-color             : #999999;
$purple-color            : #8854d0;


$footer-colorLink           : #A4A4A4;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-btn             : #335ECF;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;


